<nav>
	<div>
		<a href="/">
			<h3>MakanApa</h3>
		</a>
		<a href="/user/<%= userId %>">Profile</a>
		<a href="/timeline">Timeline</a>
	</div>
	<div>
		<a href="/user/logout">Logout</a>
	</div>
</nav>