<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/editprofile.css" />
    <title>Create Profile</title>
  </head>
  <body>
    <div class="signupFrm">
      <form action="/user/edit/profile" method="post" class="form"s>
        <h3 class="title">Edit Profile</h3>
        <div class="inputContainer">
          <label class="label">Bio :</label>
          <input type="textarea" class="input" name="bio" value="<%= data[0].bio %>" />
        </div>
        <div class="inputContainer">
          <label class="label">Phone Number :</label>
          <input type="text" class="input" name="phone" value="<%= data[0].phone %>" />
        </div>
        <div class="select-dropdown">
          <select name="gender">
            <label>Gender : </label>
            <option <%= data[0].gender == 'male' ? 'selected': '' %> value="male">Male</option>
            <option <%= data[0].gender == 'female' ? 'selected': '' %> value="female">Female</option>
          </select>
        </div>
        <input type="submit" class="submitBtn" value="Daftar">
      </form>
    </div>
  </body>
</html>
