<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>SELAMAT DATANG DI MAKAN APA</h1>
    <p>bingung mau "makan apa"? cari di sini aja!!</p>
    <a href="/registration">Registration</a>
    <a href=".login">Login</a>
    <a href="/user/timeline">Timeline</a>
</body>
</html>