<!DOCTYPE html>
<head>
  <title>Home</title>
  <script src="https://kit.fontawesome.com/296c028d74.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/general.css" />
  <link rel="stylesheet" href="/static/home.css" />
</head>
<body>
  <header>
    <div class="overlay"></div>
    <div class="content">
      <h1>MakanApa</h1>
      <hr />
      <h2>Bingung mau makan apa?</h2>
      <h3>Temukan apa yang orang-orang bagikan dan bicarakan tentang makanan disini!</h3>
      <div>
        <a href="/registration">
          <button class="orange">Daftar</button>
        </a>
        <a href="/login">
          <button class="orange">Masuk</button>
        </a>
      </div>
    </div>
  </header>
  <main>
    <div>
      <span><i class="fas fa-search"></i>TEMUKAN</span>
      <p>
        review, rekomendasi, makanan yang populer,
        dan topik-topik seputar makanan.
      </p>
    </div>
    <div>
      <span><i class="fas fa-users"></i>BAGIKAN</span>
      <p>
        review, rekomendasi, pendapatmu tentang makanan yang 
        pernah kamu coba.
      </p>
    </div>
    <div>
      <span><i class="fas fa-comments"></i>NGOBROL</span>
      <p>berinteraksi dengan para pengguna lainnya melalui 
        fitur chat.
      </p>
    </div>
  </main>
</body>

</html>
