<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/form.css" />
    <title>Registration</title>
  </head>
  <body>
    <div class="signupFrm">
      <form action="/registration" method="post" class="form">
        <h1 class="title">Daftar</h1>
        <div class="inputContainer">
          <input type="text" name="fullname"
            class="input" placeholder="Fullname:"/>
        </div>
        <div class="inputContainer">
          <input type="text" name="email"
            class="input" placeholder="Email:"/>
        </div>
        <div class="inputContainer">
          <input type="password" name="password"
            class="input" placeholder="Password:"/>
        </div>
        <div class="textareaContainer">
          <textarea name="bio" class="input" rows="4"
            placeholder="Bio:"
          ></textarea>
        </div>
        <div class="inputContainer">
          <input type="text" name="phone"
            class="input" placeholder="Phone:"/>
        </div>
        <div class="select-dropdown">
          <select name="gender">
            <option selected disabled>-- Gender --</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <input type="hidden" name="role" value="user" />
        <input type="submit" class="submitBtn" value="Daftar">
      </form>
    </div>
  </body>
</html>
