<!DOCTYPE html>
<html>
<head>
  <title>Makan Apa</title>
  <link rel="stylesheet" href="/static/general.css" />
  <link rel="stylesheet" href="/static/timeline.css" />
</head>
<body>
  Timeline
  <a href="/user/registration">Registration</a>
</body>
</html>
