<!DOCTYPE html>
<html>
<head>
  <title>Makan Apa</title>
  <link rel="stylesheet" href="/static/general.css" />
  <link rel="stylesheet" href="/static/posts.css" />
</head>
<body>
  <h1>timeline</h1>
  <a href="/registration">Registration</a>
  <a href="/login">Login</a>
  <a href="/home">Home</a>
  <main>
    <div id="posts-container">
      <div class="user-post">
        <div class="user-photo">
          <img class="user-photo" 
            src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png"/>
        </div>
        <div class="second-col">
          <div>Joko Kaesang</div>
          <div>
            Baksonya Pak Bambang emang recommended bgt... 
            baksonya super bulet...
          </div>
          <div>
            <img class="post-img" 
              src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/750x500/photo/2020/08/29/198851879.jpg"/>
          </div>
          <div>
            Like
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
