<!DOCTYPE html>
<html>
<head>
  <title>Makan Apa</title>
  <link rel="stylesheet" href="/static/general.css" />
  <link rel="stylesheet" href="/static/timeline.css" />
</head>
<body>
  <h1>SELAMAT DATANG DI MAKAN APA</h1>
  <h3>Mau makan apa hari ini?</h3>
  <a href="/user/registration">Registration</a>
  <a href="/user/login">Login</a>
  <a href="/user/home">Home</a>
</body>
</html>
