#posts-container {
  max-width: 600px;
  margin: auto;
}

.user-post {
  margin: 20px 0;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ddd;
}

.user-post .second-col {
  padding: 0 25px;
  flex: 1 1 auto;
}

.user-post .fullname {
  font-size: 1.1rem;
  font-weight: 600;
}

.user-post .second-col > div:first-child {
  display: flex;
  justify-content: space-between;
}

.user-post .second-col > div {
  margin-bottom: 10px;
}

.user-photo {
  width: 63px;
  height: 63px;
  border-radius: 50%;  
}

.post-img {
  max-height: 200px;
}

.like {
  padding: 7px;;
  border-radius: 50%;
  cursor: pointer;
}

.like:hover {
  color: dodgerblue;
  background-color: rgb(203, 227, 235);
}

#posts-container textarea {
  width: 100%;
}

.tags a {
  color: purple;
  text-decoration: none;
}

.tags a:hover {
  text-decoration: underline;
}
