#posts-container {
  max-width: 600px;
  margin: auto;
}

.user-post {
  display: flex;
  flex-direction: row;
}

.user-post .second-col {
  padding: 0 25px;
  flex: 1 1 auto;
}

.user-post .second-col > div {
  margin-bottom: 10px;
}

.user-photo {
  width: 63px;
  height: 63px;
  border-radius: 50%;  
}

.post-img {
  max-height: 200px;
}

.like {
  padding: 7px;;
  border-radius: 50%;
  cursor: pointer;
}

.like:hover {
  color: dodgerblue;
  background-color: rgb(203, 227, 235);
}
